EMAIL_HOST=mail.chironthx.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=your-email@chironthx.com
EMAIL_PASS=your-email-password
RECIPIENT_EMAIL=info@chironthx.com
NEXT_PUBLIC_CMS_URL=http://localhost:3000/api
PAYLOAD_SECRET=your-super-secret-payload-key-here
DATABASE_URI=mongodb://localhost:27017/chiron-cms
BLOB_READ_WRITE_TOKEN=your-vercel-blob-token-here
